body{
	border-bottom: 1px solid #000;
	page-break-after: auto;
	color: gray;
	font-size: 40px;
	position: absolute;
	background:tan;
	margin: 0 auto;
	text-align: center;
	display: block;
	width: 100%;
}

